protobuf
pandas
matplotlib
unidecode
psutil
tqdm
shapely
seaborn
scikit-learn
scikit-image
dropbox
pyyaml
pynvml
pika
paho-mqtt
gql
requests_toolbelt
minio
backports-zoneinfo
cryptography
transformers
accelerate